*{
  font-family: sans-serif;
  padding:0;
  box-sizing: border-box;
}

#main-section{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  background-size: cover;
  
}

nav{
  display: flex;
  justify-content: space-around;
   align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  color: rgba(29, 29, 29, 0);
}

.navbar-brand{
  font-size: 25px;
  color:#dfdfdf;
}

.navbar-brand b{
  color:#91d425;
}

.navbar-brand:hover{
  color:#91d425;
}

.navbar-collapse{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navbar-nav li{
  margin:15px;
  align-items: center;
  
}

.nav-link{
 color:#dfdfdf;
}

.nav-link:hover{
  color:#91d425;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  margin:10px;
}

.border{
  width: 100px;
  height: 8px;
  background: #91d425;
  margin: 10px auto;
  border:none;

}

/******* project-section ******/
.project-section{
  background-color: rgb(40, 40, 40);
}
.project-title{
  display: grid;
  color:#eeeeee;
  justify-content: center;
}

/****** Skills Section ******/
.skills{
  background-color:   rgb(30, 30, 30);;
}

.about-section{
  display: grid;
  grid-template-columns: 50% 50%;
}

.about-text{
  color:#eeeeee;
  margin:auto;
  text-align: center;

}

.about-text p{
  max-width: 80%;
  margin: auto;
}

.container div div{
  background-color: #141414;
  margin:3px;
}

.container h3{
  color:#eeeeee
}

.container .col{
  margin:10;
  width: 200px;
  text-align: center;
  color:#eeeeee;
  height: 140px;
  
}




/* FOOTER */
/*************  FOOTER  *************/

.footer{
  padding: 10px 0;
  background-color: #181818;

}

.footer .social{
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
  color: #dbdbdb;
}

.footer .social a{
    font-size: 24px;
    color:inherit;
    border:1px solid #91d425;
    width: 40px;
    height: 40px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;

}

.footer .social a:hover{
    opacity: 0.9;
    color: #91d425;
}


@media only screen and (max-width:768px){

   
 
}



