*{
  font-family: sans-serif;
  padding:0;
  box-sizing: border-box;
}

#main-section{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  background-size: cover;
  

}


nav{
  display: flex;
  justify-content: space-around;
   align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  color: rgba(29, 29, 29, 0);
}

.navbar-brand{
  font-size: 25px;
  color:#b9b9b9;
}

.navbar-collapse{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navbar-nav li{
  margin:15px;
  align-items: center;
  
}

.nav-link{
  color:#b9b9b9
}


.project-title{
  display: grid;

  justify-content: center;

}
.card-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  margin:10px;
}


/* FOOTER */
/*************  FOOTER  *************/

.footer{
  padding: 10px 0;
  background-color: #181818;

}

.footer .social{
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
  color: #b9b9b9
}

.footer .social a{
    font-size: 24px;
    color:inherit;
    border:1px solid rgb(36, 36, 36);
    width: 40px;
    height: 40px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;

}

.footer .social .a:hover{
    opacity: 0.9;
}




@media only screen and (max-width:768px){

   
 
}



